/* Linked Image: image with optional link wrapper */
main .linked-image {
  display: block;
}

main .linked-image a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

main .linked-image img {
  display: block;
  width: 100%;
  height: auto;
  vertical-align: middle;
}
