/* Block scoping: main .columns */
main .columns > div {
  display: flex;
  flex-direction: column;
}

main .columns img {
  width: 100%;
}

main .columns > div > div {
  order: 1;
}

main .columns > div > .columns-img-col {
  order: 0;
}

main .columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  main .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  main .columns > div > div {
    flex: 1;
    order: unset;
  }
}
