/* Image block: optional link wrapper when link is set */
main .image {
  display: block;
}

main .image a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

main .image img {
  display: block;
  width: 100%;
  height: auto;
  vertical-align: middle;
}
